@import "header.scss";
@import "btn.scss";
@import "hero.scss";
@import "margin.scss";
@import "texts.scss";
@import "middle.scss";
@import "popular.scss";
@import "footer.scss";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: #fffff9;
}

.container {
    max-width:1000px;
    margin:0 auto;
    padding: 0 20px;
}