.popular {
    padding-top: 100px;
    font-size: 16px;
    padding-bottom: 50px;
    font-weight: bolder;
}

.question-top {
    display: flex;
    align-items: center;
    text-align: center;
}

.uc {
    padding-left: 10px;
    margin-bottom: 20px;
}

.user-info {
    align-items: center;
    text-align: center;
}

.x {
    font-size: 20px;
    padding-right: 110px;
}

.user-name {
   padding-right: 110px;
}

.txt {
    font-size: 14px;
    padding-bottom: 10px;
}

.mid {
    padding-right: 30px;
}

.midd {
    display: flex;
    align-items: center;
}

.comment-user {
    display: flex;
    align-items: center;
    padding: 20px 100px;
}

.user-icon {
    padding-right: 10px;
}

.top-alignment {
    margin-left: 30px;
}

.comment-txt {
    padding-left: 100px;
    font-size: 13px;
    padding-bottom: 10px;
}

.q1, .q2 {
    background: white;
    border: 1px solid white;
    padding: 10px;
    margin-bottom: 50px;
}